
/* start------------ Global Style------------ */
.hidden {
	display: none;
}

body {	
	font-family: 'Lato', sans-serif;
	background-color: #f3f3f3;	
	margin: 0;	
}

#container {
	display: grid;
	position: relative;
	margin: 0 auto;
	width: 920px;
	grid-template-columns: repeat(10, 74px);
	grid-column-gap: 20px;
	grid-row-gap: 0px;
	background-color: #ffffff;	
}

main {
	display: contents;
}

p {
	font-size : 12px;
	line-height : 13px;
}

#container li, a{
	list-style-type: none;
	text-decoration: none;
}

#container h2, h3, h4, h5, h6, p {
	color: #306666;
	margin: 0;
}

#container strong {
	font-style : italic;
	color : #70A82A;
}

#selected {
	color:#378343 !important;
}

.button {
    background-color: #306666;
	font-style: normal;
	font-size : 14px;
	color : #FFFFFF;
	padding: 10px 15px 10px 15px;
}

.headline {
	grid-column: 1/11;
	text-align: center;
	height: 100px;
	font-weight: bold;
}

.headline p {
	margin-top: 20px;
}


#mainHeader {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #97BB2F;
	height: 100px;
	grid-column: 1/11;
	padding: 0 30px 0 30px;
}

#navigation ul{
	display: flex;
	
}

#navigation li a {
	color: rgb(255, 255, 255);	
	font-size : 14px;
	margin: 10px;
}

.footerNav li a{
	color: #b3c9be;
	font-size : 10px;
}
.footerNav img {
	margin-top: 25px;
}

.footerNav h3{
	color: #b3c9be;
	font-size: 13px;
}

.copyStyle h3 {
	margin-bottom: 10px;
	font-size : 18px;
	color: #97bc4a;
}
.copyStyle h4 {
	color: cadetblue;
	padding-top: 5px;
	padding-left: 20px;
	font-size: 12px;
}

.copyStyle p {
	text-align: justify;

	margin-bottom: 20px;
	line-height : 16px;
}

/* Footer */
.botSocial {
	margin-right: 1px;
	margin-top: 20px;
	display: flex;
	justify-content: space-around;
}

#foot {
	display: flex;
	
	justify-content: space-around;
	align-items: center;
	grid-column: 1/11;
	background-color: #1e3534;
	height: 150px;
}

/* end------------Global Style------------ */


/* start ------index.html----------------*/
#heroImage {
	grid-column: 1/11;
	background-size: 100%;
	background-repeat: no-repeat;
    background-image: url("../images/main-img.jpg");
	height: 400px;
}

.heroCopy {
	position: relative;
	top: 70px;
	padding-left: 40px; 
}
.heroCopy h2 {
	font-size: 50px;
}

.heroCopy p {
	font-size: 13px;
	padding: 10px 0 20px 0;
}

#sloppyImage {
	grid-column: 2/7;
	height: 250px;
}

#sloppyCopy {
	grid-column: 7/10;
	height: 250px;	
}

#recommend {
	grid-column: 2/6;
	height: 300px;
}

#recommend2 {
	grid-column: 6/10;
	height: 300px;
}

#menuContact {
    background-image: url("../images/menu-contact.jpg");
}

#newArrival {
	display: flex;
	justify-content: center;
	flex-direction: column;
	grid-column: 2/5;
	background-image: url("../images/new-arrival.jpg");
	height: 280px;
	margin-bottom: 20px;
}

#newArrival h3{
	margin-bottom: 20px;
	margin-left: 20px;
}

#newArrival a{
margin-left: 20px;
}

#sale {
	grid-column: 5/10;
	background-image: url("../images/clearance-sale.jpg");
	height: 280px;
}

.saleText{
	width: 240px;
	position: relative;
    top: 74px;
	left: 20px;
}

.saleText p {
	margin-bottom: 20px;
}

/* Menu Hero Image Style */
.menuStyle {
	font-size: 30px;
	display: flex;
	align-items: center;
	background-repeat: no-repeat;
	padding-left: 40px; 
	height: 330px;
	grid-column: 1/11;
}


/* start----------------Products.html------------------ */
#menuProduct {
    background-image: url("../images/menu-products.jpg");
}

#housePlants {
	margin-top: 40px;
	grid-column: 2/10;	
	 background-image: url("../images/submenu-housplant.jpg");
	height: 225px;
}

.housePosition {
	position: relative;
	font-size: 25px;
	top: 30%;
	left: 50%;
}

#commercialPlants {
	grid-column: 2/6;
	background-image: url("../images/submenu-commercial.jpg");
	height: 400px;
}

.commPosition {
	position: relative;
	font-size: 25px;
	top: 28%;
	left: 50%;
}

#gardenPlants {
	grid-column: 6/10;
	background-image: url("../images/submenu-garden.jpg");
	height: 400px;
}

.gardenPosition {
	position: relative;
	font-size: 25px;
	top: 70%;
	left: 5%;
}
#accesoryPlants {
	grid-column: 2/10;
	margin-bottom: 40px;
	background-image: url("../images/submenu-accesory.jpg");
	height: 225px;
}

.accPosition {
	position: relative;
	top: 50%;
	left: 25%;
	font-size: 25px;
}

/* end------------------Products.html------------------ */



/* --start--------------contacts------------------------- */

.creativeSyle{
	background-color: #ececec;
	text-align: center;
	height: 60px;

}
.creativeSyle h3{
	font-size: 12px;	
	padding: 0;
}

.creativeSyle p{
	font-weight: lighter;
	color: #97BB2F;
	font-size: 13px;
	padding-top: 4px;
}	
.socialSpace{
	display: flex;
	justify-content: space-between;
	margin: 0 60px 0 60px;
}

#creativeOne {
	grid-column: 2/4;
}
#creativeTwo {
	grid-column: 4/6;
}

#creativeThree {
	grid-column: 6/8;
}
#creativeFour {
	grid-column: 8/10;
}


#contactLeft {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 30px;
	/* margin: 20px; */
	grid-column: 2/6;
	background-color: #1e3534;
	height: 320px;
}

input, textarea{
	padding: 10px;
	border-radius: 4px;
	background-color: #ffffff;
	border: 0;
	
}

input[type="submit"]
{
	color: #FFFFFF;
	background-color: #306666;
	border-radius: 0;
	
}

.logoMargin {
	margin-top: 30px;
}
#contactRight {
	grid-column: 6/10;
	background-color: #ececec;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 380px;
	}

#contactRight h4 {
	font-size: 19px;
	color: #70A82A;
}

#contactRight h5 {
	font-size: 13px;
}


.boxBox {
	display: flex;
	padding: 20px;
	width: 250px;
	
}
.boxBox h4, h5{
padding: 0 0 0 20px;
font-size: 18px;
}



#googleMap {
	grid-column: 1/11;
	/* Remove as content will dictate height */
	margin-top: 50px;
	height: 270px;
}
/* --end--------------contacts------------------------- */



/*  start-----------services ---------------------- */

#menuServices {
    background-image: url("../images/menu-services.jpg");
}

#service01 {
	grid-column: 2/10;
	height: 460px;
}

#service02 {
	grid-column: 2/10;
	height: 460px;
	margin-bottom: 20px;
}





/*  start-----------blog ---------------------- */

#menuBlog {
    background-image: url("../images/menu-blogs.jpg");
}

#blogRecent {
	grid-column: 2/10;
	height: 550px;
}

.blogCopy {
	display: flex;

}

.blogCopy h3 {
	line-height : 16px;
	padding: 5px 0 0 20px;
	
}
.blogCopy p {
	padding: 5px 0 0 20px;

}

.blogCopy img {
	margin-top: 30px;
}


#previosBlog1{
	grid-column: 2/6;
	height: 420px;
}

#previosBlog2{
	grid-column: 6/10;

}

.numbersBlog{
	grid-column: 2/10;
	height: 60px;
}

.numbersBlog  ul{
		display: flex;
		justify-content: center;
		padding: 0;
		}

.numbersBlog li a {
	color: #FFFFFF;
	background-color: #70A82A;
	padding:8px 13px;
	font-size : 14px;
	margin: 5px;
	}

.numbersBlog li a:hover {
	background-color: #1e3534;
	}
